<ion-header [translucent]="true" mode="ios"  class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      NOTICIAS DEL DIA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">JPONCE</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let article of saludo; let i=index">
          <ion-card>
            <ion-card-subtitle class="ion-margin">
                <span class="text-primary">{{i+1}}.</span>
                <span class="article-source-name">{{article.source.name}}</span>
            </ion-card-subtitle>
            <ion-card-title class="ion-padding-horizontal ion-margin-bottom">
                {{article.title}}
            </ion-card-title>
            <ion-img *ngIf="article.urlToImage" [src]="article.urlToImage">

            </ion-img>
            <ion-card-content *ngIf="article.description">
              <p>{{article.description}}</p>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
